.battler
  width: inherit
  border: 5px solid
  // width: 5rem
  // margin: 1rem
  padding: 0.5rem
  text-align: center
  .indHP
    color: red
  .indMP
    color: blue
  .indATK
    color: green
  .indDEF
    color: brown

.battler-currentmove
  border-color: red
.battler-currentwait
  border-color: black
.battler-dead
  opacity: 0.3
  background-color: gray
  .name
    text-decoration: line-through

.battler
  .battlerInfo
    position: absolute

.battlerString
  .btn-action:not([disabled]):hover
    background-color: aliceblue
