doctype html
html
  head
    title= title
    meta(http-equiv='Cache-Control', content='no-store')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.wrapper
      block content
